<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.thienphan.supportstudent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.project.thienphan.timesheet.Notification.TimesheetReceiver" />

        <service android:name="com.project.thienphan.timesheet.Service.TimesheetNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/education_icon" />

        <activity
            android:name="com.project.thienphan.timesheet.View.MainActivity"
            android:label="@string/timesheet" />
        <activity
            android:name="com.project.thienphan.timesheet.View.CreateTimesheet"
            android:label="Thêm thời khoá biểu"
            android:parentActivityName="com.project.thienphan.timesheet.View.HomeActivity" />
        <activity
            android:name="com.project.thienphan.timesheet.View.CustomizeActivity"
            android:label="Tuỳ chỉnh"
            android:parentActivityName="com.project.thienphan.timesheet.View.MainActivity" />
        <activity
            android:name="com.project.thienphan.timesheet.View.HomeActivity"
            android:label="CTU Student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.project.thienphan.timesheet.View.TimesheetDetails"
            android:label="CTU news" />
        <activity
            android:name="com.project.thienphan.timesheet.View.AboutActivity"
            android:label="About"
            android:parentActivityName="com.project.thienphan.timesheet.View.HomeActivity" />
        <activity android:name="com.project.thienphan.timesheet.View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.project.thienphan.timesheet.View.LoginActivity" />
        <activity
            android:name="com.project.thienphan.timesheet.View.PrivateActivity"
            android:label="Cá nhân"
            android:parentActivityName="com.project.thienphan.timesheet.View.HomeActivity" />
        <activity
            android:name="com.project.thienphan.timesheet.View.NewsActivity"
            android:label="Tin tức"
            android:parentActivityName="com.project.thienphan.timesheet.View.HomeActivity" />
        <activity
            android:name="com.project.thienphan.teacher.View.TeacherActivity"
            android:label="CTU Teacher" />
        <activity
            android:name="com.project.thienphan.timesheet.View.NotifictionActivity"
            android:label="Thông báo"
            android:parentActivityName="com.project.thienphan.timesheet.View.HomeActivity" />
        <activity
            android:name="com.project.thienphan.teacher.View.CheckStudentActivity"
            android:label="Điểm danh"
            android:parentActivityName="com.project.thienphan.teacher.View.TeacherActivity" />
        <activity
            android:name="com.project.thienphan.teacher.View.LeaveReportActivity"
            android:label="Thống kê"
            android:parentActivityName="com.project.thienphan.teacher.View.CheckStudentActivity"></activity>
    </application>

</manifest>